/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}

*{
    -webkit-tap-highlight-color: rgba(255,0,0,0);
}

.search{
    padding-top:.35rem;
    &-btn{
      border:0;
      width:1.4rem;
      height:.65rem;
      font-size:.32rem;
      color:#FFF;
      text-align:center;
      line-height:.65rem;
      background:#886448;
    }
    &-inner{
        height:.65rem;
        width:5.75rem;
        border-radius:.65rem;
        background:#fbf8f2;
        margin:0 auto;
    }
    &-icon{
        width:.8rem;
        height:.65rem;
        background:url('../images/icon-search.png') .26rem center no-repeat;
        background-size:.38rem .38rem;
    }
    &-input{
        font-size:.24rem;
        height:.65rem;
        color:#886448;
        border:0;
        width:100%;
        background:none;
        &::-webkit-input-placeholder{
          color:#886448;
        }
    }
    &-prev{
      width:3.76rem;
      height:.68rem;
      background:url('../images/index-btn.png') 0 0 no-repeat;
      background-size:100% 100%;
      position:absolute;
      top:6.81rem;
      left:1.87rem;
    }
}
.wrapper{
    padding:0 .87rem;
}
.history{
    height:.48rem;
    &-title{
        font-size:.24rem;
        color:#a38975;
    }
    &-bd{
        margin-top:.14rem;
        line-height:.48rem;
        margin-right:-1rem;
    }
    &-list{
        overflow:hidden;
    }
    &-item{
        float:left;
        width:1.03rem;
        height:.42rem;
        border:1px solid #886448;
        font-size:.24rem;
        line-height:.42rem;
        text-align:center;
        border-radius:.1rem;
        margin-right:.2rem;
        margin-bottom:.2rem;
        color:#886448;
    }
}

.xinshi{
    &-title{
        height:.64rem;
        font-weight:bold;
        line-height:.64rem;
        font-size:.28rem;
        color:#000;
        font-weight:bold;
    }
    &-item{
        width:1.2rem;
        height:.48rem;
        line-height:.48rem;
        font-size:.26rem;
        color:#fff;
        text-align:center;
        border-radius:.1rem;
        background-color:#a0836d;
        float:left;
        margin-right:.2rem;
        margin-bottom:.2rem;
    }
    &-list{
        margin-right:-.2rem;
        overflow:hidden;
        margin-bottom:-.2rem;
    }
    &-block{
        //height:3000px;
    }
}
.side{
    position:fixed;
    right:0;
    top:2.3rem;
    font-weight:bold;
    &-item{
        height:.32rem;
        line-height:.32rem;
        font-size:.2rem;
        color:#333;
        width:.76rem;
        text-align:center;
    }
}
.detail{
    min-height:12.24rem;
    background:url('../images/list-bg.jpg') 0 0 no-repeat;
    background-size:100% 13.44rem;
    background-attachment:fixed;
    &-title{
        height:1.3rem;
        font-size:.6rem;
        line-height:1.3rem;
        text-align:center;
        font-weight:bold;
        color:#333;
    }
    .titlecss{
      font-weight:bold;
      color:#010101;
    }
    &-content{
        color:#575656;
        line-height:.4rem;
        font-size:.28rem;
        padding:0 .3rem;
        margin-top:-.1rem;
    }
    &-btnPlace,&-btn{
        height:1.08rem;
    }
    &-btn{
        position:fixed;
        bottom:0;
        lefT:0;
        right:0;
        background:url('../images/back-btn.png') 0 0 no-repeat;
        background-size:contain;
    }

}
.tip{
    display:none;
    &_show{
        display:flex;
    }
    width:4rem;
    border-radius:.18rem;
    height:1.8rem;
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#FFF;
    text-align:center;
    &-1{
        margin-bottom:.24rem;
        line-height:1;
        font-size:.3rem;
    }
    &-2{
        line-height:1;
        font-size:.24rem;
    }
}
.introduce{
    font-size:.3rem;
    color:#666;
    width:6.3rem;
    margin:.59rem auto;
    line-height:.52rem;
}

.index{
  position:relative;
  height:13.34rem;
  background:url('../images/index-bg.jpg') 0 0 no-repeat;
  background-size:100% 13.34rem;
}
html,body{
  background:#f6f3ee;
}
.list{
  background:url('../images/list-bg.jpg') 0 0 no-repeat;
  background-size:100% 13.44rem;
  background-attachment:fixed;
}
*{
  -webkit-appearance:none;
}
.note{
  padding-top:.24rem;
  &-title{
    font-weight:bold;
    font-size:.28rem;
    color:#886448;
    height:.4rem;
    line-height:1;
    text-indent:.5rem;
  }
  &-content{
    padding-bottom:.1rem;
    border-bottom:1px solid #886448;
    p{
      text-indent:.5rem;
    }
    font-size:.24rem;
    color:#333;
    line-height:.4rem;
  }
}
