    <div class="list-hd">
        <div class="search">
            <form ng-submit="onSubmit($event)">
                <div class="search-inner" flex>
                    <div class="search-icon" flex-box="0"></div>
                    <div class="search-inputWrap" flex-box="1">
                        <input placeholder="请输入姓氏查询" type="text" name="" class="search-input" ng-model="page.kw"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="history wrapper" ng-if="page.list.history">
            <div class="history-bd" flex>
                <div class="history-title">历史：</div>
                <div class="history-list">
                    <div class="history-item">赵</div>
                    <div class="history-item">欧阳</div>
                    <div class="history-item">司徒</div>
                    <div class="history-item">刘</div>
                </div>
            </div>
        </div>
    </div>
    <div class="xinshi wrapper" ng-if="page.list.sort" position-cal data="page.position">
        <div class="xinshi-block" data-index="1">
            <div class="xinshi-title">常用姓氏</div>
            <div class="xinshi-list">
                <div class="xinshi-item" ng-repeat="x in page.list.sort" ui-sref="detail({id:x.id})">{{x.name}}</div>
            </div>
        </div>
        <div class="xinshi-block" ng-repeat="(k,x) in page.list.list" data-index="{{k.charCodeAt(0) - 63}}">
            <div class="xinshi-title">{{k}}</div>
            <div class="xinshi-list">
                <div class="xinshi-item" ng-repeat="y in x" ui-sref="detail({id:y.id})">{{y.name}}</div>
            </div>
        </div>
    </div>
    <div class="side" side-position data="page.position">
        <div class="side-list">
            <div class="side-item">常用</div>
            <div class="side-item">A</div>
            <div class="side-item">B</div>
            <div class="side-item">C</div>
            <div class="side-item">D</div>
            <div class="side-item">E</div>
            <div class="side-item">F</div>
            <div class="side-item">G</div>
            <div class="side-item">H</div>
            <div class="side-item">I</div>
            <div class="side-item">J</div>
            <div class="side-item">K</div>
            <div class="side-item">L</div>
            <div class="side-item">M</div>
            <div class="side-item">N</div>
            <div class="side-item">O</div>
            <div class="side-item">P</div>
            <div class="side-item">Q</div>
            <div class="side-item">R</div>
            <div class="side-item">S</div>
            <div class="side-item">T</div>
            <div class="side-item">U</div>
            <div class="side-item">V</div>
            <div class="side-item">W</div>
            <div class="side-item">X</div>
            <div class="side-item">Y</div>
            <div class="side-item">Z</div>
        </div>
    </div>
    <div class="tip" ng-class="{'tip_show' : page.tip}" flex="main:center cross:center"><div><div class="tip-1">抱歉暂无您查找的姓氏</div><div class="tip-2">您可尝试查找其他姓氏</div></div></div>
